<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>amida | login </title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="home">
		<div style="margin: 100px 0 25px 0;">
			<h1>amida</h1>
			<p>audio mixing interface for data acquisition</p>
		</div>
		<div class="form">
			<form action="/login" method="post">
			<input type="text" name="id" placeholder="enter user id">
			<br>
			<input class="save-button" class type="submit" value="Login" autocomplete="off">
			</form> 
		</div>
		<p style="margin: 25px 0 0 0;" id="error"> <%= text %> </p>
	</div>
	<div class="footer">
		<p>© 2019 Christian Steinmetz - <a href="https://github.com/csteinmetz1/amida"> source code </a> </p>
	</div>
</body>

</html>