.mixer {
  width: 580px;
  height: 550px;

  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.song-list {
  width: 570px;
  display: inline-block;
  text-align: left;
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:100px; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.home {
  width: 500px;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.privacy-policy {
  text-align: justify;
  width: 600px;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.nav {
  text-align: center;
  width: 570px;
  height: 20px;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.save-button {
  display: inline-block;
  width: 100px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  margin: 10px 5px 10px 5px;
  background-color: white;
  color: 272727;
  border: 2px solid #272727; /* Green */
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  /* -webkit-transition-duration: 0.4s;  Safari */
  /* transition-duration: 0.4s; */
}

.save-button:hover {
  background: #272727;
  color: white;
}

body {
  font: 400 15px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #272727;
}


h1 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font: 400 25px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 10px 0 5px 0;
  padding: 0;
}

p {
  font: 400 15px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:focus, a:active {
   color: #272727;
}

a.home-link {
  text-decoration: none;
}

.counter {
  text-align: center;
}

.song-id {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 10px 0px 10px;
}

.song-title {
  text-align: left;
  font-weight: 400;
  font-size: 17px;
  margin: 0px 10px 0px 10px;
}

.artist {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  color: darkgray;
  margin: 0px 10px 10px 10px;
}

.song-detail {
  width: 322px;
  border: 2px solid #272727; 
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}

.text-block {
  text-align: justify;

  margin: 40px 0 25px 0;
  padding: 20px 20px 20px 20px;
}

.form {
  display: inline-block;
	font-weight: lighter;
	outline: none;
	-webkit-user-select: none;  /* Chrome 49+ */
  -moz-user-select: none;     /* Firefox 43+ */
  -ms-user-select: none;      /* No support yet */
  user-select: none;          /* Likely future */
}

input[type="submit"] {
  text-align: center;
  margin-top: 50px;
}

input[type="radio"] {
  text-align: left;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  margin: 15px 0 15px 0;
  box-sizing: border-box;
  border: none;
  color: #272727;
  width: 125px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-bottom: 2px solid #272727; /* Green */ 
}

input[type="number"] {
  width: 100%;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  border: none;
  color: #272727;
  width: 50px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-bottom: 2px solid #272727; /* Green */ 
}

.select {
  font-size: 14px;
  position: relative;
  display: inline-block;
  padding: 5px 0px 10px 0px;

}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  width: 175px;
  padding: 5px 10px 5px 10px;
  margin: 0;

  transition: border-color 0.2s;
  border: 2px solid #272727;
  border-radius: 5px;

  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select .arr {
  bottom: 1px;
  position: absolute;
  right: -10px;
  top: 1px;
  width: 50px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #272727;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #272727;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
 }
  
 .fade-in.one {
 -webkit-animation-delay: 0.0s;
 -moz-animation-delay: 0.0s;
 animation-delay: 0.0s;
 }