.mixer {
  width: 570px;
  height: 500px;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.song-list {
  width: 570px;
  display: inline-block;
  text-align: left;
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:75px; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.home {
  width: 570px;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.nav {
  text-align: center;
  width: 570px;
  height: 20px;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.save-button {
  display: inline-block;
  width: 100px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  margin: 10px 5px 10px 5px;
  background-color: white;
  color: 272727;
  border: 2px solid #272727; /* Green */
  text-decoration: none;
  cursor: pointer;
  /* -webkit-transition-duration: 0.4s;  Safari */
  /* transition-duration: 0.4s; */
}

.save-button:hover {
  background: #272727;
  color: white;
}

body {
  font: 400 15px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #272727;
}


h1 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font: 400 25px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 10px 0 5px 0;
  padding: 0;
}

p {
  font: 400 15px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:focus, a:active {
   color: #272727;
}

.form {
  display: inline-block;
	font-weight: lighter;
	outline: none;
	-webkit-user-select: none;  /* Chrome 49+ */
  -moz-user-select: none;     /* Firefox 43+ */
  -ms-user-select: none;      /* No support yet */
  user-select: none;          /* Likely future */
}

input[type="submit"] {
  text-align: center;
  display: block;
  margin: 0 auto;
}

input[type="radio"] {
  text-align: left;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  margin: 15px 0 15px 0;
  box-sizing: border-box;
  border: none;
  color: #272727;
  width: 125px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-bottom: 2px solid #272727; /* Green */ 
}

input[type="number"] {
  width: 100%;

  margin: 15px 0 15px 0;
  box-sizing: border-box;
  border: none;
  color: #272727;
  width: 50px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-bottom: 2px solid #272727; /* Green */ 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #272727;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
 }
  
 .fade-in.one {
 -webkit-animation-delay: 0.0s;
 -moz-animation-delay: 0.0s;
 animation-delay: 0.0s;
 }